.header {
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
	margin: 0 auto;
	background: #E7E5E2;
	color: #000000;
	z-index: 1;
}

.wrapper {
	width: 320px;
	margin: 0 auto;
}

@media only screen and (min-width: 420px) {
	.wrapper {
		width: 90%;
	}
}

@media only screen and (min-width: 1280px) {
	.wrapper {
		width: 1200px;
	}
}

.header-top {
	height: 80px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	border-bottom: solid #B8B7B6 1px;
	position: relative;
}

h2 {
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 100%;
	letter-spacing: -0.06em;
}

.burger-wrapper {
	position: absolute;
	top: 20px;
	right: 0;
	display: none;
}

.burger-wrapper svg {
	cursor: pointer;
}

.subscribe {
	display: flex;
	flex-direction: row;
}

@media only screen and (max-width: 768px) {
	.subscribe {
		display: none;
	}
}

.subscribe-text {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 100%;
	color: #372A00;
	margin-right: 15px;
}

.subscribe-button {
	border: none;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 100%;
	text-align: right;
	letter-spacing: -0.03em;
	color: #F58A0C;
	margin: 15px 0;
	cursor: pointer;
}

.burger-menu {
	list-style: none;
	cursor: pointer;
}

@media only screen and (max-width: 768px) {
	.burger-wrapper {
		display: block;
	}
}

.navbar {
	display: flex;
	flex-direction: row;
	list-style: none;
	gap: 48px;
	padding-left: 0;
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 200%;
	align-items: center;
	color: #000000;
}

.navbar li {
	cursor: pointer;
}

@media only screen and (max-width: 768px) {
	.header-top.mobile-menu,
	.subscribe.mobile-menu {
		display: flex;
		flex-direction: column;
		align-items: start;
		justify-content: center;
	}

	.header-top.mobile-menu {
		position: absolute;
		width: 100vw;
		height: 263px;
		top: 0;
		left: 0;
		padding-left: 20px;
		border: none;
		background-color: #fff;
		z-index: 10;
		gap: 5px;
	}
}

.close-menu {
	margin-right: 30px;
}

.hide {
	display: none;
}